/* font family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Poppins:wght@500;600;700&display=swap');
/* end font family */

/* body css */
body {
  font-family: 'Montserrat', sans-serif;
}
/* end body css */

/* typography */
h1 {
  font-size: 30px;
  font-weight: 700;
  color: #0b67b8;
}
h2 {
  font-size: 28px;
  font-weight: 700;
  color: #0b67b8;
}
h3 {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  line-height: 15px;
}
p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
}
/* end typography */

/* navbar css */
.active {
  color: #0b67b8 !important;
  font-weight: 500;
}
.nav-link:hover {
  color: #0b67b8 !important;
}
.active_change {
  background-color: #ecf2f9 !important;
  border-bottom: 2px solid #0b67b8;
  height: 3.5rem;
  transition: all 250ms ease-in-out;
  transition-delay: 50ms;
}
.active_change ul li a {
  color: #000;
}
/* end navbar css */

/* custom button */
button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #0b67b8;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

button:after {
  content: ' ';
  width: 0%;
  height: 100%;
  background: #ffd401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 10px 25px;
  color: #fff;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.1em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:hover span {
  color: #0b67b8;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
/* custom button */
/* logo img */
.img-size {
  height: 40px;
  width: 40px;
}
/* end logo img */

/* slider section img */
/* .personal{
    animation: moveup 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode:forwards;
  }
  @keyframes moveup {
    0%{
      transform: translateY(-100px);
      visibility: visible;
    }
    100%{
      transform: translateY(0px);
      visibility: visible;
    }
  }  */
.info-img {
  height: 300px;
  width: 300px;
}

.emp-info{
  padding: 20px 0px;
  background-color: rgb(11, 103, 184);
}
.text-custom{
  color: #ecf2f9;
}

.str-text{
  color: #ffd401;
}


.container-gap {
  margin-top: 65px;
  background-color: #ecf2f9;
  height: 400px;
}

.con-center{
  
}

.info-img {
  float: right;
}

/* end slider section img */

/* main about section */
/* .about{
  animation: moveup 1s linear 1;
  animation-delay: 3s;
  visibility: hidden;
  animation-fill-mode:forwards;
}
@keyframes moveup {
  0%{
    transform: translateY(-100px);
    visibility: visible;
  }
  100%{
    transform: translateY(0px);
    visibility: visible;
  }
} */

.section__head{
  padding-bottom: 6px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
}
.section__head::after{
  position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    height: 3px;
    width: 50px;
    background: #ffd401;
}
.space-container {
  margin-top: 80px;
}
.about-section {
  margin-top: 50px;
}

/* end main about section */

/* main service section */
.service-section {
  margin-top: 50px;
}
/* end main service section */

/* main education section */
.education-section {
  margin-top: 50px;
}
/* end main education section */

/* main skill section */
.skill-section {
  margin-top: 50px;
}
.html{
  background-color: #E44F25;
}
.css{
  background-color: #1572B7;
}
.bootstrap{
  background-color: #37156B;
}
.tailwind{
  background-color: #38BDF8;
}
.javascript{
  background-color: #F0DB4F;
}
.laravel{
  background-color: #FE3523;
}
.vue{
  background-color: #03BC83;
}
/* end main skill section */

/* main portfolio section */
.portfolio-section {
  margin-top: 50px;
}
/* end main portfolio section */

.bg-pricing{
  background-color: #0b67b8 !important;
  color: #fff;
}

.exp-img{
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.exp-com{
  color: #0b67b8;
  font-weight: 600;
}

/* main team section */
.team-section {
  margin-top: 50px;
}
/* end main team section */

/* main contact section */
.contact-section {
  margin-top: 50px;
}
.btt{
  height: 50px;
  width: 50px;
}
/* end main contact section */

/* footer section */
.footer-icon{
  height: 25px;
  width: 25px;
}
/* end footer section */

/* scroll bar css */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c7c7c7; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b67b8; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffd401; 
}
/* scroll bar css */
.back-to-top-section{
  margin-top: 30px;
  background-color: #0b67b8;
}

.back-to-top{
  padding: 8px 0px;

}

.back-to-top a{
    color: #ffd401;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}
.back-to-top a:hover{
  color: #c7c7c7;
}